<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<configsections>
    <section name="specflow" type="techtalk.specflow.configuration.configurationsectionhandler, techtalk.specflow" />
  </configsections>
  <specflow>
     for additional details on specflow configuration options see http://go.specflow.org/doc-config 
     use unit test provider specrun+nunit or specrun+mstest for being able to execute the tests with specrun and another provider 
    <unittestprovider name="specrun" /> 
    <plugins>
      <add name="specrun" />
    </plugins>
  </specflow>-->
</configuration>